
body {
  margin: 0;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: 'Lato', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html {
  margin: 0;
}
